.viewer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-width: 300px;
    margin: 10px auto;
    .item {
        border-radius: 10px;
        width: calc(30% - 40px);
        padding: 10px;
        margin: 5px  10px;
        border: 1px solid black;
        cursor: pointer;
        p {
			text-align: center;
			word-break: break-word;
        }
        &.checked {
            opacity: 0.5;
            p {
                text-decoration: line-through;
            }
        }
    }
}

.input {
	border-radius: 10px;
	outline: none;
	border: 1.5px solid #666;
	padding: 0 22px 0 10px;
	height: 27px;
	width: 207px;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.arrow {
	cursor: pointer;
	transform: translateX(-20px);
}

.power {
	margin-right: 10px;
	cursor: pointer;
}