form.login {
	width: 190px;
	margin: 60px auto 0 auto;
	label {
		margin: 10px 0 5px 0;
		display: block;
		text-align: left;
	}
	input {
		width: calc(190.02px - 22px);
		height: 25px;
		padding: 0 10px;
		border-radius: 10px;
		outline: none;
		border: 2px solid #666;
	}

	.btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 76px;
		height: 26px;
		border: 2px solid transparent;
		margin-top: 15px;
		cursor: pointer;
		p {
			margin: 0;
		}
		&.primary {
			background-color: #4C66C7;
			p {
				color: #fff;
			}
		}
		&.secondary {
			width: 76px;
			height: 26px;
			background-color: transparent;
			border-color: #666;
			p {
				color: #666;
			}
		}
	}
}